{% extends 'base.html.twig' %}

{% block title %}Ze Good Corner{% endblock %}

{% block body %}

    <div class="search-box">
                <span class="search-box-container">
                    <img src="assets/images/search.png" class="search-box-pic" alt="first-pic">
                </span>
        <p>Recherchez, trouvez, <strong>achetez</strong></p>
    </div>

{% endblock %}
