{% extends 'base.html.twig' %}

{% block body %}
    <form>
        <label>Search
            <input type="search" placeholder="Que cherchez-vous ?">
        </label>
        <select class="categorie-selector">
            <option>test</option>
        </select>
        <button type="submit">Entrer</button>
    </form>
{% endblock %}

{% block title %}

{% endblock %}

