{% extends 'base.html.twig' %}

{% block body %}
    <form>
        <label>Search
            <input type="search" placeholder="Que cherchez-vous ?" name="annonce">
        </label>
        <select class="categorie-selector" name="categorie">
            <option value="">Choisissez une catégorie</option>
            {% for categorie in categorie_list %}
            <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
            {% endfor %}
        </select>
        <button type="submit">Entrer</button>
    </form>

    {% for produit in resultats %}
        <h4>{{ produit.nom }}</h4>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

