{% extends 'base.html.twig' %}

{% block body %}
    <h2>Déjà client ?</h2>
    <span>Je m'authentifie</span>
    <form method="post">
        <div>
            <label>Mail</label>
            <label>
                <input type="text" name="_username">
            </label>
        </div>
        <div>
            <label>Mot de passe</label>
            <label>
                <input type="text" name="_password">
            </label>
        </div>
        <button type="submit">Valider</button>
    </form>

    <h2>Pas encore client ?</h2>
    <span>Je crée mon compte</span>
    <a href="{{ path('app_register') }}">Ici</a>
{% endblock %}

{% block title %}

{% endblock %}

